body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212df; /* тёмный фон */
  color: white; /* текст сделаем белым, чтобы был виден */
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background-color: #ffffffd6;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

#quote {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 20px;
  color: #555;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

button:hover {
  background-color: #0056b3;
}
